<div class="container">
  <!-- 头部 -->
  <header>
    <h1>剑哥头部(好好卖东西)</h1>
  </header>
  <!--  内容 -->
  <section>
    <div class="list">
      <ul>
        <li><a href="#">热销榜</a></li>
        <li><a href="#">热销榜</a></li>
        <li><a href="#">热销榜</a></li>
        <li><a href="#">热销榜</a></li>
      </ul>
    </div>
    <div class="content">
      <!-- 导航栏 -->
      <ul class="nav">
        <li><a href="#">全部分类</a></li>
        <li><a href="#">综合排序</a></li>
      </ul>
      <!-- 商品 -->
      <div class="wrap">
        <ul class="categories">
          <li>
            <div class="photo">
              <img src="" alt="" />
            </div>
            <div class="introduce">
              <p class="goods">桂圆</p>
              <p class="weight">360g</p>
              <p class="price">
                <span>
                  ¥6
                </span>
                <span>
                  ¥5
                </span>
              </p>
              <i class="increase">+</i>
            </div>
          </li>
          <li>
            <div class="photo">
              <img src="" alt="" />
            </div>
            <div class="introduce">
              <p class="goods">桂圆</p>
              <p class="weight">360g</p>
              <p class="price">
                <span>
                  ¥6
                </span>
                <span>
                  ¥5
                </span>
              </p>
              <i class="increase">+</i>
            </div>
          </li>
          <li>
            <div class="photo">
              <img src="" alt="" />
            </div>
            <div class="introduce">
              <p class="goods">桂圆</p>
              <p class="weight">360g</p>
              <p class="price">
                <span>
                  ¥6
                </span>
                <span>
                  ¥5
                </span>
              </p>
              <i class="increase">+</i>
            </div>
          </li>
          <li>
            <div class="photo">
              <img src="" alt="" />
            </div>
            <div class="introduce">
              <p class="goods">桂圆</p>
              <p class="weight">360g</p>
              <p class="price">
                <span>
                  ¥6
                </span>
                <span>
                  ¥5
                </span>
              </p>
              <i class="increase">+</i>
            </div>
          </li>
          <li>
            <div class="photo">
              <img src="" alt="" />
            </div>
            <div class="introduce">
              <p class="goods">桂圆</p>
              <p class="weight">360g</p>
              <p class="price">
                <span>
                  ¥6
                </span>
                <span>
                  ¥5
                </span>
              </p>
              <i class="increase">+</i>
            </div>
          </li>
          <li>
            <div class="photo">
              <img src="" alt="" />
            </div>
            <div class="introduce">
              <p class="goods">桂圆</p>
              <p class="weight">360g</p>
              <p class="price">
                <span>
                  ¥6
                </span>
                <span>
                  ¥5
                </span>
              </p>
              <i class="increase">+</i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- 底部 -->
  <footer>
    <ul>
      <li>
        <p class="homepage">首页</p>
      </li>
      <li>
        <p class="shop">闪送超市</p>
      </li>
      <li>
        <p class="cart">
          购物车
          <i class="number">0</i>
        </p>
      </li>
      <li>
        <p class="mine">我的</p>
      </li>
    </ul>
  </footer>
</div>
